<!--====== FOOTER PART START ======--> 
<div class="container">
  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <h6>e-participation</h6>
            <p class="text-justify">e-participation est une platforme
                mauritanienne<br> de la participation publique .</p>
          </div>

          <div class="col-xs-6 col-md-4">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/"><i class="fa fa-chevron-right" aria-hidden="true" ></i>petition</a></li>
                
              <li><a href="http://scanfcode.com/category/front-end-development/"><i class="fa fa-chevron-right" aria-hidden="true" ></i>proposition</a></li>
                
              <li><a href="http://scanfcode.com/category/back-end-development/"><i class="fa fa-chevron-right" aria-hidden="true" ></i>Debat</a></li>
                
              <li><a href="http://scanfcode.com/category/java-programming-language/"><i class="fa fa-chevron-right" aria-hidden="true" ></i>consultation</a></li>
                
              <li><a href="http://scanfcode.com/category/android/"><i class="fa fa-chevron-right" aria-hidden="true" ></i>Statistiques</a></li>
                
              <li><a href="http://scanfcode.com/category/templates/"><i class="fa fa-chevron-right" aria-hidden="true" ></i>a propos</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-4">
            <h6>Liens Utiles</h6>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true" ></i>About Us</a></li>
                
                
              <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true" ></i>Contact Us</a></li>
                
              <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true" ></i>Contribute</a></li>
                
              <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true" ></i>Privacy Policy</a></li>
                
              <li><a href="#"><i class="fa fa-chevron-right" aria-hidden="true" ></i>Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">
                Copyright &copy; 2020 <a href="#"><b> E-Participation</b></a>.Tous droits réservés.
         
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>

  </footer>
</div>
<!--====== FOOTER PART ENDS ======-->