


<div class="card">
<div class="header bg-Blue2">
<h2 class="col-white">Information générale à propos de la participation citoyenne</h2>
</div>
   
    
<p> 
Le portail d’e-participation publique est un portail conçu par le gouvernement mauritanien pour répondre aux aspirations citoyennes à plus d’implication et d’engagement dans le processus de décision publique et à la consécration des principes de la démocratie participative.<br><br>

La constitution mauritanienne prône la participation citoyenne et la démocratie participative.<br><br>

Le portail de participation publique en ligne est dédié aux consultations publiques,aux pétitions,aux proposition et aux débats publics.<br>

Grâce à ces quatres modules diversifiés dans la plateforme, le citoyen peut contribuer activement dans la vie publique et dans la prise de décision publique, il peut soumettre une pétition ,une proposition  ou participer à un dialogue public.
</p>    
    
    
    
      
    
    
</div>

 <br><br><br><br><br><br><br><br><br><br>    

