<!doctype html>
<html lang="en">

<head>

  <!--====== Required meta tags ======-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--====== Title ======-->
  <title>Eparticipation-Home</title>

 
 




</head>

<body >


<!--====== HEADER PART START -->
     <app-modal></app-modal>
<!--====== HEADER PART ENDS ======-->




<!--====== HEADER PART START -->
     <app-header></app-header>
<!--====== HEADER PART ENDS ======-->
    
    
    

<div class="container">
  <router-outlet></router-outlet>
</div>




<!--====== HEADER PART START -->
     <app-footer></app-footer>
<!--====== HEADER PART ENDS ======-->


</body>

</html>
