<!--====== FEATURES PART START (LAYOUT) ======-->

<section class="features-area pt-100 pb-65">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8">
        <div class="single-features text-center mt-30">
          <div class="features-icon">
            <i class="lni-write"></i>
              <!--<i class="lni-comment"></i>-->
              
          </div>
          <div class="features-content">
            <h4    class="features-title"><a i18n="@@sampletext" href="#">
                PÉTITIONS</a></h4>
            <p class="text">La pétition est un écrit sous forme de revendications, propositions ou recommandations licites, adressé par les les citoyens  aux pouvoirs publics...</p>
            <a class="more" href="/petitions">Read More <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single features -->
      </div>
      <div class="col-lg-4 col-md-8">
        <div class="single-features text-center mt-30 ">
          <div class="features-icon">
            <i class="lni-seo-consulting"></i>
          </div>
          <div class="features-content">
            <h4 class="features-title"><a href="#">E-CONSULTATIONS</a></h4>
            <p class="text">La rubrique consultation publique constitue une fenêtre ouverte sur les sujets et thèmes que le gouvernement veut soumettre au public pour ...</p>
            <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single features -->
      </div>
      <div class="col-lg-4 col-md-8">
        <div class="single-features text-center mt-30">
          <div class="features-icon">
            <i class="lni-wechat"></i>
          </div>
          <div class="features-content">
            <h4 class="features-title"><a href="#">DÉBATS PUBLICS</a></h4>
            <p class="text">
       La rubrique débats publics fournit la possibilité d'interagir et soumettre vos avis sur les décisions et projets publics. un dialogue est déclenché par...
              
              </p>
            <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single features -->
      </div>
    </div> <!-- row -->
      
    <!-- row 2 start -->
    
       <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8">
        <div class="single-features text-center mt-30">
          <div class="features-icon">
           <!-- <i class="lni-stethoscope"></i>-->
              <i class="lni-invention"></i>
              
          </div>
          <div class="features-content">
            <h4 class="features-title"><a href="#">PROPOSITIONS</a></h4>
        <p class="text">
                Cette rubrique vous permettra de déposer vos idées créatives et innovantes pour proposer des solutions...</p>
            <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single features -->
      </div>
      <div class="col-lg-4 col-md-8">
        <div class="single-features text-center mt-30 ">
          <div class="features-icon">
            <i class="lni-stats-up"></i>
          </div>
          <div class="features-content">
            <h4 class="features-title"><a href="#">Statistiques générales</a></h4>
            <p class="text">
                Cette rubrique vous permettra de voir des Statistiques générales pour donner une idée global sur le      
                site..
                
              </p>
            <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single features -->
      </div>
      <div class="col-lg-4 col-md-8">
        <div class="single-features text-center mt-30">
          <div class="features-icon">
            <i class="lni-first-aid"></i>
          </div>
          <div class="features-content">
            <h4 class="features-title"><a href="#">Quality & Patient Safety</a></h4>
            <p class="text">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letter.</p>
            <a class="more" href="#">Read More <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single features -->
      </div>
    </div> <!-- row 2 -->
    <br><br><br>
</section>
    

<!--====== FEATURES PART ENDS ======-->
    