<div class="card">
	<div class="header bg-Blue2">
		<h2 class="col-white">Comment Présenter une pétition</h2>
	</div>
	<div class="body ">
		<p>La pétition est un écrit sous forme de revendications, propositions ou recommandations licites, adressé par les citoyennes aux pouvoirs publics concernés, afin qu'ils prennent les mesures qu'ils jugent appropriées
		La préparation de la pétition est une étape fondamentale qui nécessite des efforts et une réflexion collective par ses initiateurs, appelés pétitionnaires, qui désignent parmi eux un mandataire.</p>
		<br>
		<p>Le guide suivant présente les étapes à suivre pour présenter des pétitions: </p>
		<p><strong style="color:#247d24;">Etape 1:</strong><br>
		 Pour présenter une pétition, le mandataire du comité de présentation de la pétition doit créer un compte sur le portail.</p>

		<p>→ Après authentification, le mandataire doit vérifier et confirmer les conditions de recevabilité de son initiative par les pouvoirs publics.</p>

		<p>→ Ensuite, il renseigne les détails de la pétition, dont le pouvoir public concerné, le thème de la pétition, l'objet, le texte et la note détaillée de l'initiative. Le portail lui permet également de joindre d'autres documents complémentaires.</p>

		<p>→ Pour marquer la fin de la phase de préparation de la pétition, le mandataire la signe en utilisant les moyens disponibles sur le portail (signature scannée, signature par Stylus, .....).</p>

		<p><strong style="color:#247d24;">Etape 3:</strong><br>
		→ Après la signature de la pétition, le mandataire invite les autres initiateurs à la signer à leur tour. Ceux-ci doivent être préalablement inscrits sur le portail.</p>

		<p>→ Après la signature de la pétition par le mandataire et tous les membres du comité de présentation de la pétition (au moins 9 membres dont le suppléant du mandataire), le mandataire peut publier le lien de la pétition via le portail pour collecter les signatures appuyant son initiative.</p>

		<p>→ A cet effet, le portail permet à tous les pétitionnaires de partager le lien de la pétition (généré par le portail) sur les réseaux sociaux, par e-mail ou par messagerie instantanée.</p>

		<p><strong style="color:#247d24;">Etape 4:</strong><br>
		→ Une fois que le seuil requis de signatures appuyant l'initiative est atteint, le mandataire peut l'envoyer via le portail au pouvoir public concerné pour examen.</p>

		<p>→ Il peut suivre le processus de traitement de l'initiative par le pouvoir public concerné en accédant à son propre espace sur le portail. Après la fin de l'examen, il sera notifié par e-mail ou par SMS.</p><br><br>

	</div>
	<div class="pull-right"><a class=" btn btn-primary" href="" type="button">Déposer une pétition</a></div>
</div>


